<div class="max-w-xl p-6 rounded-lg shadow bg-neutral-800 border-neutral-700 flex mb-9">
  <div class="w-full">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white"><%= event.title %></h5>
    <% unless event.description.nil? %>
      <p class="mb-3 font-normal text-neutral-200">
        <div class="mb-3 font-normal text-neutral-200"><%= event.description %></div>
      </p>
    <% end %>
    <p class="mb-3 font-normal text-neutral-200">
      <%= event.start_date.to_fs(:short) %> - <%= event.end_date.to_fs(:rfc822) %>
    </p>
    <% unless event.cta.nil? %>
      <a href=<%=event.cta %> class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-700 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
        <%= unless event.cta_label.nil? then event.cta_label else "Read more" end%>
          <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      <% end %>
    </div>
    <div class="w-48">
      <% unless event.image_url.nil? %>
        <%= image_tag event.image_url, class: "w-48" %>
      <% end %>
    </div>
  </div>
